.App {
  text-align: center;
  min-height: 100vh;
	background: url(https://static.miraheze.org/kingofkinkswiki/9/9a/Site-background-dark.png) no-repeat top center/cover;
  color:white;
}

.dark-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  border-radius: 4px;
  padding: 4px;
}

button {
  background-color: #287e5b;
  color: white;
  border-radius: 4px;
  padding: 4px 12px;
  margin: 16px 0 12px;
  border:none;
}

button:hover {
  background-color: #2cac79;
}

h3{
  color:#ca1f3b;
}

h5 {
  padding: 8px 0 4px;
}

.calculator-container{
  padding: 16px 16px 0;
}

p:last-child{
  margin-bottom: 0;
  padding-bottom: 16px;
}

.input-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.input-item {
  margin: 0 8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

span {
  margin-right: 8px;
  min-width: 200px;
  text-align: left;
}

@media screen and (max-width: 1410px) {
  input{
    margin: 4px 0;
    min-width: 40%;
    max-width: 100%;
  }

  span {
    display: none;
  }
}